# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  name: oci-vm

steps:
- script: |
    cd terraform
    terraform init
    # terraform plan
    terraform apply -auto-approve
    terraform destroy -auto-approve

  displayName: 'Run Terraform'
